In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt   
import seaborn as sns
from sklearn.compose import make_column_transformer
from sklearn.model_selection import train_test_split
from sklearn import metrics
%matplotlib inline

In [2]:
dress_match = pd.read_csv('dress_match_data.csv')
dress_match

,ImgID,BodySize,Complexion,Occasion,DressColor,DressDesign,Matching
0,photo-1492447166138-50c3889fccb1,L,Very Fair,Casual,Black&White,Cuban Collar Shirt,Y
1,Img_4,XL,Fair,Casual,Blue&White,Linen Shirt,N
2,image_51,M,Medium,Casual,LightBlue,Overshirt,N
3,image_52,M,Very Fair,Casual,Muddy Brown,Linen Shirt,Y
4,image_53,S,Fair,Wedding,White&Pink,Overshirt,Y
...,...,...,...,...,...,...,...
350,IMG-rgvghvejgfj34f,XL,Olive,Party,Blue&White,Oxford Button-Down Shirt,N
351,IMG-hj hbjjgfj34f,S,Very Fair,Formal,White,Classic Short Sleeve Shirt,Y
352,IMG-vtyvvhhjhbjbbb,L,Medium,Casual,Blue&White,Casual Shirts,N
353,IMG-r98389r4f,XL,Fair,Sports,White,Oxford Button-Down Shirt,Y
354,IMG-773bexuwubw,XL,Brown,Sports,Blue,Classic Short Sleeve Shirt,Y

In [3]:
dress_match.shape

(355, 7)

In [4]:
dress_match.head()

,ImgID,BodySize,Complexion,Occasion,DressColor,DressDesign,Matching
0,photo-1492447166138-50c3889fccb1,L,Very Fair,Casual,Black&White,Cuban Collar Shirt,Y
1,Img_4,XL,Fair,Casual,Blue&White,Linen Shirt,N
2,image_51,M,Medium,Casual,LightBlue,Overshirt,N
3,image_52,M,Very Fair,Casual,Muddy Brown,Linen Shirt,Y
4,image_53,S,Fair,Wedding,White&Pink,Overshirt,Y

In [5]:
dress_match.describe().transpose()

            count unique              top freq
ImgID         355    278  IMG-39438nfkjnf    7
BodySize      355      6               XL  154
Complexion    355      6             Fair   94
Occasion      355      8           Casual  141
DressColor    355     75            Black   45
DressDesign   355     27      Linen Shirt   69
Matching      355      2                Y  229

In [6]:
dress_match.drop(['ImgID'], axis=1,inplace = True)

In [7]:
dress_match

,BodySize,Complexion,Occasion,DressColor,DressDesign,Matching
0,L,Very Fair,Casual,Black&White,Cuban Collar Shirt,Y
1,XL,Fair,Casual,Blue&White,Linen Shirt,N
2,M,Medium,Casual,LightBlue,Overshirt,N
3,M,Very Fair,Casual,Muddy Brown,Linen Shirt,Y
4,S,Fair,Wedding,White&Pink,Overshirt,Y
...,...,...,...,...,...,...
350,XL,Olive,Party,Blue&White,Oxford Button-Down Shirt,N
351,S,Very Fair,Formal,White,Classic Short Sleeve Shirt,Y
352,L,Medium,Casual,Blue&White,Casual Shirts,N
353,XL,Fair,Sports,White,Oxford Button-Down Shirt,Y
354,XL,Brown,Sports,Blue,Classic Short Sleeve Shirt,Y

In [8]:
dress_match.groupby(['Matching']).count()

          BodySize  Complexion  Occasion  DressColor  DressDesign
Matching
N              126         126       126         126          126
Y              229         229       229         229          229

In [9]:
dress_match.groupby(['BodySize']).count()

          Complexion  Occasion  DressColor  DressDesign  Matching
BodySize
L                 72        72          72           72        72
M                 71        71          71           71        71
S                 16        16          16           16        16
XL               154       154         154          154       154
XS                 1         1           1            1         1
XXL               41        41          41           41        41

In [10]:
dress_match.groupby(['Complexion']).count()

            BodySize  Occasion  DressColor  DressDesign  Matching
Complexion
Brown             61        61          61           61        61
Dark Brown        23        23          23           23        23
Fair              94        94          94           94        94
Medium            59        59          59           59        59
Olive             53        53          53           53        53
Very Fair         65        65          65           65        65

In [11]:
dress_match.groupby(['Occasion']).count()

          BodySize  Complexion  DressColor  DressDesign  Matching
Occasion
Casual         141         141         141          141       141
Ethinic          1           1           1            1         1
Formal          84          84          84           84        84
Party           27          27          27           27        27
Sports          36          36          36           36        36
Wedding         55          55          55           55        55
Winter           8           8           8            8         8
party            3           3           3            3         3

In [12]:
dress_match.groupby(['DressDesign']).count()

,BodySize,Complexion,Occasion,DressColor,Matching
DressDesign,,,,,
Blazer,7,7,7,7,7
Casual Shirts,17,17,17,17,17
Check shirt,13,13,13,13,13
Classic Short Sleeve Shirt,50,50,50,50,50
Cuban Collar Shirt,1,1,1,1,1
Flannel Shirt,59,59,59,59,59
Flannel Shirt&Blazer,2,2,2,2,2
Flannel Shirt&Half blazer,2,2,2,2,2
Full Jacket,2,2,2,2,2
Full Kurti,1,1,1,1,1
Full Polo Shirt,7,7,7,7,7
Full Shirt,2,2,2,2,2
Half Kurti,2,2,2,2,2
Half Polo Shirt,4,4,4,4,4
Half Shirt,3,3,3,3,3
Jacket,8,8,8,8,8
Kurta,4,4,4,4,4
Kurti,18,18,18,18,18
Linen Shirt,69,69,69,69,69
Overshirt,5,5,5,5,5
Oxford Button-Down Shirt,20,20,20,20,20
Polo Shirt,42,42,42,42,42
Round Neck,1,1,1,1,1
Sflannel Shirt,1,1,1,1,1
Sport jacket,9,9,9,9,9
T Shirt,4,4,4,4,4
Winter Wear,2,2,2,2,2

In [13]:
dress_match.groupby(['DressColor']).count()

              BodySize  Complexion  Occasion  DressDesign  Matching
DressColor
Army                 2           2         2            2         2
Black               45          45        45           45        45
Black&Blue           1           1         1            1         1
Black&Golden         1           1         1            1         1
Black&Gray           1           1         1            1         1
...                ...         ...       ...          ...       ...
Yellow               6           6         6            6         6
Yellow &Blue         1           1         1            1         1
Yellow&Gray          2           2         2            2         2
Yellow&White         3           3         3            3         3
white                1           1         1            1         1

[75 rows x 5 columns]

In [14]:
dress_match.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355 entries, 0 to 354
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   BodySize     355 non-null    object
 1   Complexion   355 non-null    object
 2   Occasion     355 non-null    object
 3   DressColor   355 non-null    object
 4   DressDesign  355 non-null    object
 5   Matching     355 non-null    object
dtypes: object(6)
memory usage: 16.8+ KB

In [15]:
dummy_df = pd.get_dummies(dress_match)
dummy_df

,BodySize_L,BodySize_M,BodySize_S,BodySize_XL,BodySize_XS,BodySize_XXL,Complexion_Brown,Complexion_Dark Brown,Complexion_Fair,Complexion_Medium,...,DressDesign_Overshirt,DressDesign_Oxford Button-Down Shirt,DressDesign_Polo Shirt,DressDesign_Round Neck,DressDesign_Sflannel Shirt,DressDesign_Sport jacket,DressDesign_T Shirt,DressDesign_Winter Wear,Matching_N,Matching_Y
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,0,1,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
351,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
352,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
353,0,0,0,1,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,1
354,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [16]:
dummy_match_df = pd.get_dummies(dress_match,drop_first= True)
dummy_match_df

,BodySize_M,BodySize_S,BodySize_XL,BodySize_XS,BodySize_XXL,Complexion_Dark Brown,Complexion_Fair,Complexion_Medium,Complexion_Olive,Complexion_Very Fair,...,DressDesign_Linen Shirt,DressDesign_Overshirt,DressDesign_Oxford Button-Down Shirt,DressDesign_Polo Shirt,DressDesign_Round Neck,DressDesign_Sflannel Shirt,DressDesign_Sport jacket,DressDesign_T Shirt,DressDesign_Winter Wear,Matching_Y
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1,0,0,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,1,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,0,0,1,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
351,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
352,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
353,0,0,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,1
354,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [17]:
array = dummy_match_df.values
X = array[:,0:71]
Y = array[:,72]  
test_size = 0.20 
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=9)
type(X_train)

numpy.ndarray

In [18]:
model = LogisticRegression()
model.fit(X_train, y_train)
y_predict = model.predict(X_test)
model_score = model.score(X_test, y_test)
print(model_score)
print(metrics.confusion_matrix(y_test, y_predict))

0.9577464788732394
[[68  0]
 [ 3  0]]

In [19]:
from sklearn import preprocessing
X_train_scaled = preprocessing.scale(X_train)
X_test_scaled = preprocessing.scale(X_test)

In [20]:
model = LogisticRegression()
model.fit(X_train_scaled, y_train)
y_predict = model.predict(X_test_scaled)
model_score = model.score(X_test_scaled, y_test)
print(model_score)
print(metrics.confusion_matrix(y_test, y_predict))

0.9577464788732394
[[68  0]
 [ 3  0]]